<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Listing</title>
    
    <link rel="stylesheet" href="../static/css/form.css">
    
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
    <form action="/edit-listing/{{postid}}" method="post" enctype="multipart/form-data">
        <input class="field" type="text" name="item_name" placeholder="Item Name" value="{{listing.1}}">
        <input class="field" type="text" name="item_location" placeholder="Location Found" value="{{listing.2}}">
        <input class="field" type="text" name="additional_info" placeholder="Additional Information" value="{{listing.4}}">
        <input id="image" type = "file" name = "file">
        <input class='btn' type="submit">
    </form>
</body>
</html>