<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lost and Found</title>

    <link rel="stylesheet" href="../static/css/listings.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <style>
        .profile-pic {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            vertical-align: top;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Lost and Found</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Search bar to be implemented -->
                <!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- navbar items -->
                    <li class="nav-item">
                        <a class="nav-link active" href="/create_listing_page">Create Listing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/my_listings">View My Listings</a>
                    </li>

                    <!-- Dropdown -->
                    {% if login %}
                    <li class="nav-item dropdown">
                        <a class="navbar-brand nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img class="profile-pic" src="../static/images/blank-profile-picture.webp" alt="">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <!-- Other drop down menu items to be added, view profile, etc... -->

                            <!-- <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li> -->
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>

                    {% else %}
                    <a role="button" class="btn btn-primary" href="/login_page">Login</a>
                    {% endif %}

                    
                </ul>

            </div>
        </div>
    </nav>

    <h1>Lost Items</h1>

    {% if listings %}
    <div class="listings">
        {% for listing in listings %}
        <div class="listing">
            <a class="" href="/contact/{{listing.0}}">
                <div>{{listing.1}}</div>
                <div>Found at: {{listing.2}}</div>
                <div>Poster: {{listing.3}}</div>
                <div>Additional info: {{listing.4}}</div>
                <img style="width: 100%;" src="/users/{{listing.0}}" alt="">
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>No listings here :)</div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>