<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost {{item_name}}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/navbar.css">
    <!-- <link rel="stylesheet" href="../static/css/listings.css"> -->

    <style>
        .bg-light.textmessage {
            background-color: rgb(230, 230, 230) !important;
        }

        .img-container {
            height: 400px;
        }

        .message-box {
            padding-bottom: 16px;
            height: 400px;
        }

        .textmessage {
            width: fit-content;
            border-radius: 16px;
            max-width: 80%;
            margin: 0px 0px 1px 0px;
        }

        .sender-name {
            font-size: 13px;
        }

        .send-message {
            width: 100%;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Lost and Found</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Search bar to be implemented -->
                <!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->

                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <!-- navbar items -->
                    <li class="nav-item">
                        <a class="nav-link active" href="/create_listing_page">Create Listing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/my_listings">View My Listings</a>
                    </li>

                    <!-- Dropdown -->
                    {% if login %}
                    <li class="nav-item dropdown">
                        <a class="navbar-brand nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">

                            <div class="profile-pic text-center nav-text">{{initial}}</div>
                            <!-- <img class="profile-pic" src="../static/images/blank-profile-picture.webp" alt=""> -->
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <!-- Other drop down menu items to be added, view profile, etc... -->
                            <!-- <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li> -->
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>

                    {% else %}
                    <a role="button" class="btn btn-primary" href="/login_page">Login</a>
                    <div class="navbar-text text-dark">or</div>
                    <a role="button" class="btn btn-primary" href="/register_user_page">Register</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div id="main-body" class="container" style="padding-top: 16px; padding-bottom: 50px;">

        <!-- image posting -->
        <p class="fs-1 gy-5 text-center text-sm-center text-md-center text-lg-start">Lost item: {{listing.1}}</p>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="img-container bg-dark col-lg-6 d-flex justify-content-center align-items-center">
                    <img src="/users/{{listing.0}}" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col-lg-6">
                    <div class="card-body position-relative" style="height: 100%; width:100%;">
                        <div class="d-flex align-items-center">
                            <h5 class="card-title fs-5 me-2 mb-0">Location found:</h5>
                            <div class="card-text">{{listing.2}}</div>
                        </div>

                        <hr>

                        <h5 class="card-title">Additional info</h5>
                        <p class="card-text text-truncate">{{listing.4}}</p>
                    </div>
                </div>
            </div>

            <div class="card-footer text-muted">
                Posted by: {{listing.3}}

                <!-- Posted date -->
                <!-- <p class="card-text"><small class="text-muted">Posted</small></p> -->
            </div>
        </div>

        <!-- message box -->
        <div class="message-window border border-secondary rounded">
            <div class="container message-box overflow-auto">

            </div>

            {% if login %}
            <form action="/contact/send-messages/{{listing.0}}" method="post" class="send-message position-relative">
                <button type="button" onclick="scroll_to_bottom()" id="new-message"
                    class="invisible btn btn-danger rounded-pill text-light position-absolute bottom-100 start-50 translate-middle">New
                    message</button>
                <div class="container input-group mb-3">
                    <input class="form-control rounded" type="text" name="message" placeholder="Message">
                    <input id="send-btn" class="btn btn-primary rounded ms-1 me-12" type="submit" value="Send">
                </div>
            </form>
            {% else %}
            <div class="alert alert-info mb-0" role="alert">
                Login to send messages!
            </div>
            {% endif %}
        </div>
    </div>

    <!-- footer -->
    <footer class="bg-dark">
        <div class="container">
            <!-- left and right sides to be maybe implemented -->
            <!-- <div class="row">
                <div class="col text-white d-flex justify-content-center">
                    Something
                </div>

                <div class="col text-white d-flex justify-content-center">
                    Other thing
                </div>
            </div> -->

            <div class="row" style="padding: 20px 0px;">
                <div class="col text-secondary d-flex justify-content-center">&copy; LostAndFound 2022</div>
            </div>

        </div>
    </footer>
    <script>
        // footer
        let navbar = document.querySelector("nav");
        let main_body = document.querySelector("#main-body");
        let footer = document.querySelector("footer");

        function set_min_height() {
            console.log("navbar: " + navbar.clientHeight);
            console.log("footer: " + footer.clientHeight);
            console.log("viewport: " + window.innerHeight);
            console.log("");
            let new_height = window.innerHeight - (navbar.clientHeight + footer.clientHeight);
            main_body.style.minHeight = new_height + "px";
        }

        window.addEventListener("resize", set_min_height);
        set_min_height();

        // messages
        let message_box = document.querySelector(".message-box");

        // ajax form submit

        let send_messages = document.querySelector("#send-btn");
        send_messages.addEventListener("click", function(event) {
            event.preventDefault();

            
        });

        let new_message_btn = document.querySelector("#new-message");
        function scroll_to_bottom() {
            message_box.scrollTop = message_box.scrollHeight - message_box.clientHeight;

            if (!new_message_btn.classList.contains("invisible")) {
                new_message_btn.classList.add("invisible");
            }
        }

        let prev_max_height = 0;
        function get_messages() {
            let xhr = new XMLHttpRequest();

            xhr.onload = function () {
                if (message_box.scrollTop == message_box.scrollHeight - message_box.clientHeight) {
                    var changeHeight = true;
                } else if (prev_max_height != message_box.scrollHeight - message_box.clientHeight) {
                    if (new_message_btn.classList.contains("invisible")) {
                        new_message_btn.classList.remove("invisible")
                    }
                }

                let responseObject = JSON.parse(xhr.responseText);

                let updated_message_box = "";
                if (responseObject['messages'].length) {
                    let senderid = "";
                    for (const message of responseObject['messages']) {
                        if (message['is_sender']) {
                            var side = "end";
                            var color = "text-light bg-primary"
                        } else {
                            var side = "start";
                            var color = "text-dark bg-light"
                        }

                        if (senderid != message['sender']) {
                            if (updated_message_box != "") {
                                updated_message_box += "</div>";
                            }
                            updated_message_box += '<div class="d-flex flex-column mt-3 align-items-' + side + '">';
                            updated_message_box += '<div class="sender-name text-muted">' + message['sender'] + '</div>';
                        }
                        updated_message_box += '<div class="textmessage container bg-gradient ' + color + '">' +
                            '<div class="fs-6 pt-1 pb-1">' + message['message'] + '</div>' + '</div>'
                        senderid = message['sender'];
                    }
                    updated_message_box += '</div>'
                }

                message_box.innerHTML = updated_message_box;

                console.log(responseObject);

                // set scroll height to bottom
                if (changeHeight) {
                    prev_max_height = message_box.scrollHeight - message_box.clientHeight;
                    scroll_to_bottom();
                }
            }

            xhr.open('GET', '/contact/get-messages/{{listing.0}}', true);
            xhr.send(null);
        }

        // make sure sender is logged in

        get_messages();
        setInterval(function () {
            get_messages();
        }, 1000);

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>