<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/form.css">
</head>

<body>
    <div class="container main-body d-flex justify-content-center align-items-center">
        {% if not login %}
        
        <form action="/login" method="post">
            <p class="fs-1 pb-20">Login</p>

            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <input class='btn btn-primary mb-3' value="Sign in" type="submit">

            <div class="container d-flex justify-content-center align-items-center">
                <div class="fs-6">Don't have an account?</div>
                <a href="/register_user_page" role="button" class="btn btn-link">Register here</a>
            </div>
        </form>
        {% else %}
        <div class="fs-1 mb-3">You are already logged in</div>

        <div class="container d-flex justify-content-center align-items-center">
            <div class="fs-6 me-2">Return to</div>
            <a role="button" class="btn btn-primary" href="/">Homepage</a>
        </div>
        {% endif %}
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>