<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    
    <link rel="stylesheet" href="../static/css/form.css">
    <style>
        
    </style>
</head>
<body>
    <form action="/register_user" method="post">
        <input class="field" type="text" name="username" placeholder="Username">
        <input class="field" type="text" name="email" placeholder="Email">
        <input class="field" type="password" name="password" placeholder="Password">
        <input class="field" type="text" name="fullname" placeholder="Full Name">
        <input class="btn" type="submit">
    </form>
</body>
</html>